.upload {
  text-align: center;
  margin: 40px 280px;
  border: dashed darkgray 2px;
  background-color: whitesmoke;
  padding: 40px;
  cursor: pointer;
}

.upload:hover {
  background-color: rgb(237, 235, 235);
}

.ant-upload-list-item-info {
  align-content: space-around;
  text-align: center;
  background-color: whitesmoke;
  padding: 12px;
  margin: 10px 320px;
}

.ant-tooltip-inner {
  display: none;
}

.ant-upload-text-icon {
  display: inline;
  padding: 10px;
}

.ant-upload-list-item-card-actions {
  padding: 10px;
}

.ant-upload-list-item-card-actions-btn {
  background-color: whitesmoke;
  border: none;
}

.ant-upload-list-item-card-actions-btn:hover {
  color: red;
  transform: scale(1.2);
}
